<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Sklep z Płytami</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{# if login}}
                        <a class="dropdown-item" href="/shopping-cart">Koszyk</a>
                        <a class="dropdown-item" href="/user/profile">Konto</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Wyloguj</a>
                    {{ else }}
                        <a class="dropdown-item" href="/user/signin">Zaloguj</a>
                        <a class="dropdown-item" href="/user/signup">Zarejestruj</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>